/* Сброс стилей и общие стили */
* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
}

body {
    background-color: #485863;
}

ul {
    list-style: none;
}

.font-roboto {
    font-family: 'Roboto', sans-serif; /* Обновление шрифта */
}

/* Основной контейнер */
.main {
    display: block;
    width: 1480px;
    height: 1700px;
    margin: 0 auto;
    background-color: #fff;
}

.wrapper {
    width: 1283px;
    margin: 0 auto;
}

/* Шапка */
.main-header {
    height: 189px;
}


.logo-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}


.logo-first,
.logo-second {
    font-size: 80px;
}
.logo-first{
    color: #000;
}

.logo-second {
    color: #4BCAFF;
}

/* Навигация */
.nav-wrap {
    display: flex;
    justify-content: space-around;
    background-color: #35444F;
}

.nav-main {
    display: flex;
    text-align: center;
}

.nav-main-link {
    text-decoration: none;
    padding: 24px 32px 18px;
    border-left: 1px solid white;
}
.nav-main-link:hover{
    background-color:#14171a
}

.nav-main > a:nth-last-child(n) {
    border-right: 1px solid white;
}

.nav-main-element {
    font-size: 24px;
    color: white;
}

/* Основное содержание */
.main-wrap {
    display: flex;
    gap: 80px;
}

.aside-menu {
    width: 344px;
    border: 1px solid red;
}

.aside-elem-a {
    display: flex;
    padding: 25px 0 25px 43px;
    text-decoration: none;
    color: #485863;
}
.aside-elem-a:hover{
    background-color:#485863;
/*     margin-left: 20px; */
    color:#fff;
    padding-right: 20px;
}
.aside-elem-a:hover .aside-elem{
    padding-left: 20px;
}

.aside-elem {
    font-size: 27px;
    color:inherit;
   
}

.main-wrap-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.wrap-section-img {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid aquamarine;
}

.section-img-elem {
    padding-top: 75px;
    padding-bottom: 75px;
}

.wrap-section-textarea {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Футер */
.main-footer {
    display: flex;
    justify-content: space-between;
    background-color: #63696E7A;
    margin-top: 20px;
}

.footer-wrap {
    display: flex;
    gap: 20px;
    padding-left: 40px;
}

.footer-link {
    text-decoration: none;
    padding: 20px 0;
    color:#35444F;
    display: inline-block;
    
}

.footer-link:hover{
    color:#4BCAFF;
}
.footer-link-text::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: #4BCAFF;
    position: relative;
    left: 0;
    bottom: -10px;
    transition: width 0.3s ease;
}

.footer-link:hover .footer-link-text::after {
    width: 100%;
}

.footer-link-text {
    font-size: 28px;
    color:inherit;
}

.footer-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright-text {
    padding-right: 40px;
    font-size: 28px;
}
